.Group {
  letter-spacing: 0;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  color: rgba(74, 74, 74, 1);
  line-height: 12px;
  text-align: left;
  font-size: 13px;
  user-select: none;
  @media screen and (max-width: 810px) {
    margin: 0 auto;
  }
}

.Button {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
  &:hover {
    background: rgba(241, 252, 255, 1);
    transition: 0.8s;
  }
  @media screen and (max-width: 560px) {
    letter-spacing: 0;
    padding-inline: 5px;
  }
  @media screen and (max-width: 475px) {
    width: 100%;
    border-radius: 6px;
  }
}
